@using AdmEscolar.Business.ViewModels.Alumns
@model List<AlumnsViewModel>

@{
    ViewData["Title"] = "Home Page";
    int count = 0;
}

<div class="text-center text-black fst-italic">
    <h4>Alumns List</h4>
</div>

<div class="row">
    <div class="mb-3 mt-3 col-4">
        <a asp-controller="Alumns" asp-action="Create" class="btn btn-outline-primary">Create new</a>
    </div>

    <div class="col-4 offset-4 mt-4">
        <div class="mb-3">
            <div class="container-fluid">

                <form class="d-flex" role="Search" method="post" asp-controller="Alumns" asp-action="Index">

                    <input class="form-control me-2 border-dark background" type="text" placeholder="Search by alumn Id" aria-label="Search" name="AlumnMatricula" />

                    <button class="btn btn-outline-dark" type="submit">Search</button>

                </form>

            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    @if(Model == null || Model.Count == 0){

        <h4>There aren't any alumns.</h4>
    }
    else{

    <div class="row mt-4">
        <table class="table table-bordered border-dark">
            <thead>
                <tr>
                    <th scope="col" class="text-center">#</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Born Date</th>
                    <th scope="col">Province</th>
                    <th scope="col" class="text-center">Actions</th>
                </tr>
            </thead>

            @foreach (AlumnsViewModel item in Model)
            {
                count++;
                <tbody>
                    <tr>
                        <td class="text-center">@count</td>
                        <td>@item.Matricula</td>
                        <td>@item.Name</td>
                        <td>@item.LastName</td>
                        <td>@item.BornDate</td>
                        <td>@item.Province</td>
                        <td>
                            <div class="text-center">
                                <a asp-controller="Alumns" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-success">Edit</a>
                                <a asp-controller="Alumns" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Delete</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            }

        </table>
    </div>
    }
</div>
